# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# HTTP Responses
testdata/*
!testdata/responses
testdata/trace

# Shell scripts for testing
*test*.sh

# IDE settings
.idea/
